/* <?php
*/

/* Shop Styles here please
*/


/**
* General definitions
*/
.shop_error {
	font-size:	medium;
	font-style: italic;
	color:		red;
}
.formLabel {
	float:left;
	width:30%;
	text-align:right;
	font-weight: bold;
	margin: 2px;
	white-space: nowrap;
	clear: left;
}

.formField {
	float:left;
	width:60%;
	margin: 2px;
		
}
/**
* Administration Styles
*/
.adminListHeader {
	float:left; height: 48px; background-repeat: no-repeat;
	text-align: left; font-size: 18px; font-weight: bold;
	padding-left: 80px;	
}

.labelcell {
	margin-left: auto;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	width: 30%;
}