<html> 
<head>
<title>Customer Question</title>
<style type="text/css">
<!--
.Stil1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Stil2 {font-family: Verdana, Arial, Helvetica, sans-serif}
-->
</style>
</head>
<body> 

    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="10" >
        <tr valign="top" bgcolor="#CCCCCC"> 
            <td align="left" class="Stil2" colspan="2">
                <b>{VendorName}<b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {contact_name} has requested more information on
                <a href="{product_url}" title="{product_name}">{product_name}</a>&nbsp;Product-SKU&nbsp;{product_sku}
            </td>
        </tr>
        <tr>
            <td width="auto">
                {product_thumb}
            </td>
            <td> 
                {product_s_description}  
            </td>
        </tr>
        
        <tr align="left" bgcolor="#CCCCCC">
            <td class="Stil2" colspan="2">
                <b>Question</b>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2"  style="border:1px solid #000000;">
                {subject}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="mailto:{contact_email}">{contact_email}</a>
            </td>
        </tr>
    </table>
    
</body>
</html>