#content-box {
	background: url(../images/admin_menu/vm_border.png) 0 0 repeat-y;
}

#content-box2 {
	background: url(../images/admin_menu/vm_border.png) 100% 0 repeat-y;
	background-color: Black;
}

#content-box3 {
	background: url(../images/admin_menu/vm_border.png) 100% 0 repeat-y;
}

#content-pad {
	padding: 0;
}

#content-pad2 {
	padding: 0;
}

.spacer {
	height: 10px;
	overflow: hidden;
}

.content-area {
	float: right;
	width: 80%;

}

.content-area-full {
	clear: both;
	float: none;
	width: 100%;
}

.content-area .content-pad .content-pad2 {
	padding-left: 10px;
}

.content-area-full .content-pad .content-pad2 {
	padding: 0;
}
.section-smenu {
	background: #F7F7F7;
}

.title-smenu, .title-smenu-down {
	margin: 0;
	border: 1px solid #ccc;
	background: 5px 50% no-repeat;
	padding: 4px;
	text-indent: 15px;
	margin-bottom: 1px;
	color: #666;
	cursor: pointer;
	font-size: 10px;
}
.title-smenu {
 background-image: url(../images/admin_menu/vm_arrow.gif) ;
 background-color: #EBEBEB;
}
.title-smenu-down {
	color: black;
 	background-image: url(../images/admin_menu/vm_arrow_down.gif) ;
 	background-color: #D2D2D2;
 	border: 1px solid #333;
}
div.status-divider {
	clear:left;
	height: 1px !important;
	height: 3px;
	overflow: hidden;
}
.sidemenu-box {
	background: #F7F7F7;
	float: left;
	width: 200px;
}
.sidemenu-box2 {
	background: #F7F7F7;
	float: left;
	width: 100%;
}

.sidemenu-pad {
	padding: 0;
	margin-bottom: 0 !Important;
}

.element-box {
	background: #fff;
}

.element-pad {
	padding: 10px;
}

.extra-padding {
	padding: 10px;
}

.sidemenu-box ul {
	margin: 0;
	padding: 0;
}

.sidemenu-box ul li {
	list-style: none;
	padding-left: 24px;
	line-height: 20px;
	background-position: 2px 2px;
}

.sidemenu-box ul li.divider {
	background: none;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	height: 2px;
	overflow: hidden;
	margin: 5px 0;
}

.sidemenu-box li a {
	color: #666;
	font-weight: bold;
}

.sidemenu-box li a:hover {
	color: #0B55C4;
	text-decoration: none;
}

.sidemenu-box h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0 5px;
	color: #0B55C4;
	margin-bottom: 5px;
}

.icon-32-vm_new_32 { 
   background: url(../images/icon_32/vm_new_32.png) no-repeat left; 
}

.icon-48-jmart_48 { 
   background: url(../images/icon_48/vm_logo_48.png) no-repeat left; 
}
.icon-48-vm_config_48 { 
   background: url(../images/icon_48/vm_config_48.png) no-repeat left; 
}
.icon-48-vm_user_48 { 
   background: url(../images/icon_48/vm_user_48.png) no-repeat left; 
}
.icon-48-vm_usergroup_48 { 
   background: url(../images/icon_48/vm_shoppers_48.png) no-repeat left; 
}
.icon-48-vm_module_48 { 
   background: url(../images/icon_48/vm_modules_48.png) no-repeat left; 
}
.icon-48-vm_store_48 { 
   background: url(../images/icon_48/vm_store_48.png) no-repeat left; 
}
.icon-48-vm_payment_48 { 
   background: url(../images/icon_48/vm_payment_48.png) no-repeat left; 
}
.icon-48-vm_credit_48 { 
   background: url(../images/icon_48/vm_credit_48.png) no-repeat left; 
}
.icon-48-vm_product_48 { 
   background: url(../images/icon_48/vm_product_48.png) no-repeat left; 
}
.icon-48-vm_categories_48 { 
   background: url(../images/icon_48/vm_categories_48.png) no-repeat left; 
}
.icon-48-vm_countries_48 { 
   background: url(../images/icon_48/vm_countries_48.png) no-repeat left; 
}
.icon-48-vm_currency_48 { 
   background: url(../images/icon_48/vm_currency_48.png) no-repeat left; 
}
.icon-48-vm_orders_48 { 
   background: url(../images/icon_48/vm_orders_48.png) no-repeat left; 
}
.icon-48-vm_vendors_48 { 
   background: url(../images/icon_48/vm_shop_vendors_48.png) no-repeat left; 
}
.icon-48-vm_tax_48 { 
   background: url(../images/icon_48/vm_tax_48.png) no-repeat left; 
}
.icon-48-vm_ups_48 { 
   background: url(../images/icon_48/vm_ups_48.png) no-repeat left; 
}
.icon-48-vm_shipping_rates_48 { 
   background: url(../images/icon_48/vm_shipping_rates_48.gif) no-repeat left; 
}
.icon-48-vm_shop_users_48 { 
   background: url(../images/icon_48/vm_shop_users_48.png) no-repeat left; 
}
.icon-48-vm_manufacturer_48 { 
   background: url(../images/icon_48/vm_manufacturer_48.png) no-repeat left; 
}
.icon-48-vm_product_files_48 { 
   background: url(../images/icon_48/vm_product_files_48.png) no-repeat left; 
}
.icon-48-vm_coupon_48 { 
   background: url(../images/icon_48/vm_coupon_48.png) no-repeat left; 
}

.vmquote {
	background-color: #E9ECEF;
	border: 1px solid #CCCCCC;
	color: #254D78;
	font-size: 12px;
	margin: 4px;
	padding: 10px;
}