/* 16x16 images */

/* 32x32 images */
.icon-32-vm_new_32 { 
   background: url(../images/icon_32/vm_new_32.png); 
}

/* 48x48 images and joomla overide to use it*/
#cpanel span.vmicon48 {    display: inline-block !important; height: 48px; width: 48px;margin-top: 10px;}
#cpanel div.icon { cursor: pointer; }

.vmicon48, .icon-48-head{background-image: url(../images/icone48.png) ; background-repeat: no-repeat !important; display :inline-block ;}

.vm_products_48, .vm_shop_products_48{ background-position: 0px -235px !important; width: 44px; height: 36px;  }
.vm_shop_categories_48{ background-position: 0px 0px !important; width: 43px; height: 37px;  }
.vm_shop_orders_48{ background-position: 0px -139px !important; width: 47px; height: 39px;   }
.vm_shop_payment_48{ background-position: 0px -188px !important; width: 46px; height: 37px;  }
.vm_shop_users_48{background-position: 0px -435px !important; width: 46px; height: 41px;   }
.vm_shop_configuration_48{background-position: 0px -47px !important; width: 44px; height: 35px;  }
.vm_shop_mart_48{background-position: 0px -390px !important; width: 43px; height: 35px; }
.vm_country_48{background-position: 0px -486px !important; width: 47px; height: 38px; }
.vm_shop_help_48{background-position: 0px -92px !important; width: 43px; height: 37px; }
.vm_install_48{background-position: 0px -281px !important; width: 48px; height: 43px; }
.vm_cpanel_48{background-position: 0px -334px; width: 46px; height: 46px;}

.icon-32-lock{ background: url(../images/icon_32/icon-32-lock.png); }

